/*去属性本身的边框和样式*/
body, h1,h2,h3,h4,h5,h6,input,ul,ol,li,textarea,p,form,select{
    margin: 0;
    padding: 0;
    list-style: none;
}
/*文字回退 去a标签默认属性*/
a{
    color: #333333;  /*文字颜色*/
    text-decoration: none;   /*下划线*/
}
img{
    width: 100%;
    height: 100%;
}
/*设置文本字体大小和样式*/
body{
    background-color: #f5faff;
    font-family: 宋体,sans-serif;    /*sans-serif同类型文字样式*/
    font-size: 16px;
}
.header{
    width: 100%;
    height: 50px;
    background: #ffffff;
    border-bottom: 1px solid #EAEAEA;
}
.header_box{
    width: 1400px;
    height: 100%;
    margin: auto;
    line-height:50px ;
}
/*h1,nav,search 浮动*/
h1{
    height: 100%;    /*不设置宽属性，大小就与内容有关*/
    float:left;
    margin-right: 100px;
    font-size: 28px;
}
.nav{
    height: 100% ;  /*不设置宽属性，大小就与内容有关*/
    float:right;
}
.nav li{
    margin-right: 36px;
    float:left;
    font-size: 18px;
}
.nav li a:hover{     /*鼠标放在文字上，文字颜色改变*/
    color:#E2523A;
}
.search{
    width: 50px;
    height: 100%;
    float:right;
}
.search a{
    width: 50px;
    height: 100%;
    float: right;
}
.main{
    width: 1400px;
    min-height:600px ;
    margin: 20px auto;
}
.main .recommend{
    padding: 30px;
    box-sizing: border-box;
    width: 1400px;
    background:white;
    margin: 20px auto;
}
.main > ul{
    margin-top:10px;
}
.title{
    border-bottom: 1px solid #e4e3e3;
    background: white;
    padding : 10px 10px 10px 0;
    position: relative;
    font-size: 18px;
}
.title::before{
    content: '';
    height: 2px;
    width: 60px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: black;
    transition-duration: 1s ;
}
.title:hover::before{
    width: 80px;
}
.main > li{
    line-height: 1.5;
}
.main span {
    position: relative;
    line-height: 32px;
    padding-right: 40px;
    color: #999;
    font-size: 18px;
}
.main span:after {
    position: absolute;
    content: "";
    width: 2px;
    height: 40px;
    background: #e0dfdf;
    right: 18px;
}
.main i{
    position: relative;
    font-size: 18px  ;
    color: #333;
    font-style: normal;
}
.main i a{
    font-size: 18px  ;
    color: #333;
}
.main i:before {
    content: " ";
    height: 10px;
    width: 10px;
    border: 2px solid #cccaca;
    background: #fff;
    position: absolute;
    top: 4px;
    left: -30.5px;
    border-radius: 50%;
}
li i:hover::before{
    background: black;
}
.bottom{
    width: 100%;
    height: 190px;
    background: white;
    border-top: 1px solid #EAEAEA;;
}
.bottom_box{
    width: 1400px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.bottom_box img{
    width: 100px;
    height: 100px;
}
.bottom_box .info h6{
    font-size:18px ;
    color: #E2523A;
}
.bottom_box .info p{
    font-size: 16px;
    color: #73777a;
    margin-top: 10px;
}